@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif
}

body{
    background: #292C34;
}

header{
    background: white;
}

header > h1{
    color: #24272E;
    text-align: center;
    font-size: 50px;
}

.score-board{
    position: relative;
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    
}

.badge{
    background: #e2584D;
    color: white;
    font-size: 20px;
    padding: 2px 10px;
    width: 120px;
   
}

.left-label{
    position: absolute;
    top: 40;
    left: -100px;
}

.right-label{
    position: absolute;
    top: 30;
    right: -100px;
}

.result{
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.battleground{
    color: white;
    background: #e258;
    text-align: center;
    font-size: 80px;
    margin: 20px auto;
}

.battlePick{
    display: inline-block;
    
}

.choices{
    text-align: center;
    margin-top: 50px;
   
}
.stats{
    font-size: 24px;
    text-align: left;
   
    color: white;
    padding: 0px 40px;
}

.choice{
    display: inline-block;
}

.choice:hover{
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
}

.running{
    height: 200px;
    width: 100%;
    margin-bottom: 4px;
}

.message{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

h3{
    text-align: center;
    width: 100%;
}   

.logIn{
    position: relative;
    margin: 20px auto;
    border: 3px solid white;
    text-align: center;
    width: 50%;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    border: red solid 3px;
}

.existingUsers{
    position: relative;
    margin: 20px auto;
    border: 3px solid white;
    text-align: center;
    width: 80%;
    height: fit-content;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    border: red solid 3px;
}

.user-btn{
    margin: 2px;
}

.battleUserLeft{
    position: relative;
    text-align: right;
    margin: 0px auto;
    width: 100%;
    padding: 0px;
}

.battleBtns{
    position: relative;
    text-align: center;
    margin: 0px auto;
    width: 100%;
    padding: 0px;
}

.battleUserRight{
    position: relative;
    text-align: left;
    margin: 0px auto;
    width: 100%;
    padding: 0px;
}